/* I opted for the option of trying to create the webpage without looking at structures or walkthroughs, so everything here is what I was able to come up with with no specific specifications, just by sight. */
footer{
    background-color: rgb(255, 183, 115);
    padding: 50px 15px;
    display:grid;
    grid-template-columns:50% 50%
}

body{
    background-color: rgb(255, 245, 198);
    margin: 0px;
}

.big{
    font-size: 35px;
}
header{
    display:grid;
    grid-template-columns: 15% 85%;
    justify-items: left;
    margin: 0px 30px
}

.fullheight{
    grid-row-start:1;
    grid-row-end: span 5;
}

main{
    width: 60%;
    margin: 0px auto;
}

.med{
    font-size: 25px;
}

div{
    background-color: whitesmoke;
    padding: 15px;
    display: grid;
    grid-template-columns: 35% 65%;
}

div.border{
    border: 1px solid cyan;
}

.color-light-grey{
    color: rgb(145, 145, 145);
}

p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.separated{
    margin-top: 15px;
}

.bold{
    font-weight: 700;
}

div.form_table{
    display: table-row;
}